.act{
    padding: 3.19rem 0 6.31rem;
}
.act a{
    text-decoration: none !important;
    display: block;
}
.act-item{
    display:flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}
.act .col-12 a+a{
    margin-top: 1.25rem;
}
.act .act-item-imgbox{
    width: 32.63rem;
    height:19rem;
    margin-right: 1.19rem;
    overflow: hidden;
}
.act .act-item-imgbox img{
    width: 100%;
    height: 100%;
}
.act .act-item-content{
    display: flex;
    width: 56.25rem;
    height: 19rem;
    flex-direction:  column;
    padding: 2.44rem 0 2.5rem 2.81rem;
    justify-content:  space-between;
    background-color: #F7F7F7;
}
.act .act-item-content h2{
    color:#C01920;
    font-size:1.25rem;
    font-family:'SourceHanSansCN-Medium';
}
.act .act-item-content p{
    color:#525252;
    text-indent:2rem;
    font-size:  0.88rem;
    font-family: 'SourceHanSansCN-Regular';
    max-height: 10rem;
    overflow:  hidden;
}
.act .act-item-content p.act-item-date{
    font-size:0.88rem;
    text-indent: unset;
}
/*分页*/
.pagination{
    margin-top:3.69rem;
}
.row{
    margin:0;
}