/*内容居中并设置最大宽度*/
.container{
  max-width: 90rem;
  margin:  0 auto;
  padding:  0;
  border: 1px solid transparent;
}
/*手机端隐藏元素*/
@media (max-width: 992px){
  .hidden-md-down{
    display: none;
  }
}
/*title */
.title{
  color:#525252;
  font-size:2rem;
  text-align:center;
  height:5rem;
  background-color:#fff;
}
.title>h2{
   line-height:normal;
   margin:0; 
}
.title>h2.en:after,.title>h2.en:before{
    content: '';
    width:2rem;
    height: 0.16rem;
    vertical-align: 0.5rem;
    margin: 0 1rem;
    display:  inline-block;
    background-color:#525252;
}
.title>h2.en{
  font-size: 1.5rem;
  margin-top: 1.31rem;
  font-family: RobotoSlab-Bold;
}
.title>h2.zh{
  font-size: 1.125rem;
  font-family: 'SourceHanSansCN-Regular';
}
/**/
.banner-img{
    height: 38.8rem;
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
}
.banner-img .container{
    position:relative;
}
.banner-img-title{
    position:absolute;
    left:0;
    bottom:0;
    margin-left: 9rem;
    margin-bottom:15.25rem;
}
.banner-img-title h1{
    color:#000;
    text-align:center;
    margin:0;
}
.banner-img-title h1.en{
    font-size:2.68rem;

}
.banner-img-title h1.zh{
    font-size:2.25rem;
    margin-top:2rem;
}
/*button*/
.btn-link{
  background-color:#C01920;
  color:#fff;
}
.btn-link:hover{
  background-color:#C01920;
  color:#fff;
}
/*内容页的两栏布局样式*/
.content{
    flex: 1;
}
.content .col-4{
    background-color: #999;
    padding: 0;
}
.content .col-4 ul{
    list-style:none;
    padding:  0;
    margin: 0;
}
.content .col-4 li a{
    color:#fff;
    min-width: 23rem;
}
.content .col-4 li:hover a{
    text-decoration:none;
}
.content .col-4 img{
    vertical-align:top;
    margin-right:  0.75rem;
}
.content .col-4 ul li{
    display: flex;
    height:6.5rem;
    justify-content: flex-end;
    margin:  0;
    align-items: center;
    background-color: #999999;
}
.content .option {min-width: 200px;display: flex;justify-content: flex-start;}
/*鼠标hover 栏目li样式 */
/* .content .col-4 ul li:hover .option-text .zh:after{
    content:'>';
    margin-left:1rem;
} */
.content .col-4 li .option-text{
    display:inline-block;
    line-height:  1.87rem;
}
.content .col-4 li.active{
  background-color:#5c5c5c;
}
.content li .option-text p{
    margin:0;
    text-align:left;
}
.content li .option-text .en{
    font-size:1.25rem;
}
.content li .option-text .zh{
    font-size:1rem;
}
.content .col-8{
    padding:3.2rem 6.3rem;
    flex:1;
}
.content .col-8 .tab-pane{
    max-width: 45.3rem;
}
.content .col-8 .img-box{
    width: 100%;
    max-height: 31.1rem;
}
.content .col-8 .img-box img{
  width: 100%;
  height: 100%;
}
.content .col-8 h2{
  margin-top:3.3rem;
  font-size:0.88rem;
  color:#C01920;
  text-indent:2rem;
}
.content .col-8 p{
  font-size:0.88rem;
  color:#525252;
  text-indent:2rem;
  line-height: 2;
}
/*字体设置*/
@font-face{
  font-family: 'RobotoSlab-Regular';
   src: url('../font/RobotoSlab-Regular.ttf');
}
@font-face{
  font-family: 'RobotoSlab-Bold';
   src: url('../font/RobotoSlab-Bold.ttf');
}
@font-face{
  font-family: 'SourceHanSansCN-Bold';
   src: url('../font/SourceHanSansCN-Bold.otf');
}
@font-face{
  font-family: 'SourceHanSansCN-Medium';
   src: url('../font/SourceHanSansCN-Medium.otf');
}
@font-face{
  font-family: 'SourceHanSansCN-Regular';
   src: url('../font/SourceHanSansCN-Regular.otf');
}
@font-face{
  font-family: 'ZpixEX2_EX';
   src: url('../font/ZpixEX2_EX.ttf');
}
@font-face{
  font-family: 'ZpixEX2_SS';
   src: url('../font/ZpixEX2_SS.ttf');
}
@font-face{
  font-family: 'BebasNeue';
   src: url('../font/BebasNeue.otf');
}
.en{
  font-family: 'RobotoSlab-Regular',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, 'sans-serif', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.zh{
  font-family: 'ZpixEX2_EX',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, 'sans-serif', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
button{
  font-family: 'ZpixEX2_EX';
  font-size: 0.88rem !important;
}
/*重置bootstrap一些样式*/
p{
  margin:0;
  padding:0;
}
h1,h2,h3,h4{
  padding:0;
  margin:0;
}
/*分页*/
.pagination{
    justify-content: center;
}
.pagination a{
    display: block;
    min-width:2rem;
    line-height: 1.56rem;
    color: #060001;
    font-size: 0.88rem;
    font-family: 'SourceHanSansCN-Regular';
    white-space: nowrap;
    text-align: center;
}
.pagination a.active{
    border:1px solid #E60012;
    border-radius:4px;
    color:#E60012;
}
/*前两后个链接 active不变色 间距调整 */
.pagination a.active:nth-of-type(-n+2){
    border:0;
    color:#060001;
}
.pagination a.active:nth-last-of-type(-n+2){
    border:0;
    color:#060001;
}
.pagination a:nth-of-type(-n+2){
    margin-right: 1.25rem;
}
.pagination a:nth-last-of-type(-n+2){
    margin-left: 1.25rem;
}
