.footer{
    font-size:0.88rem;
    background-color: #c01920;
    color: #fff;
    width: 100%;
    font-family:'SourceHanSansCN-Regular';
}
.footer span{
    padding-right: 5px;
}
.footer .container{
    width: 84.3rem;
    padding-top: 2.56rem;
    padding-bottom:2.56rem;
}
.footer a{
    color: #fff;
}
.footer .click p{
    display:inline-block;
    margin-left:5px;
}
.footer img{
    width: 18px;
    height: 20px;
}