.navbar{
    min-height: 6rem;
    padding:0;
    opacity: 0.7;
    background-color: #fff;
    transition: 0.2s ease;
    box-shadow:0px 0px 10px rgba(16,6,14,0.4);
}
.navbar:after{
  position: absolute;
  content:'';
  background-color: #fff;
  width:  100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}
body.intransparent .navbar{
  opacity:1;
}
.navbar-brand{
  padding:0;
  margin: 0;
}
#brand img{
  width:10rem;
  height:3rem;
  margin-right:3rem;
  margin-left: 5rem;
}
#Tel img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.nav-link{
  padding: 0 !important;
}
.nav-item{
    margin-right: 1.44rem;
    font-weight: 400;
}
.nav-item:nth-child(n+4){
  margin-right: 1.5rem;
}
.nav-item img{
    vertical-align:text-top;
}
.nav-item p{
    margin:0;
    white-space:  nowrap;
    text-align:center;
    line-height: 1.5rem;
}
.nav-item p.en{
  font-size:1.12rem;
}
.nav-item p.zh{
  font-size:0.88rem;
  position:relative;
}
/* .nav-item p.zh:after{
  position: absolute;
  top: 0;
  content: '>';
  transform: rotate(90deg);
  display: block;
} */
#Tel{
    margin-left: 1.38rem;
}
a#Tel span{
  font-size: 1.63rem;
  font-weight:400;
  color:#525252;
  vertical-align: middle;
  font-family: 'BebasNeue';
  margin-left: 0.3rem;
}
.navbar .navbar-nav .active > .nav-link{
  color:#E60012;
}
.navbar .navbar-nav .nav-link{
  color:#525252;
}


