.navbar{
    min-height: 6rem;
    padding:0;
    opacity: 0.4;
    background-color: #fff;
    transition: 0.2s ease;
}
body.intransparent .navbar{
  opacity:1;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}
.navbar-brand{
  padding:0;
  margin: 0;
}
#brand img{
  width:10rem;
  height:3rem;
  margin-right:3rem;
  margin-left: 5rem;
}
#Tel img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.nav-link{
  padding: 0 !important;
}
.nav-item{
    margin-right:1rem;
    font-weight: 400;
}
.nav-item:nth-child(n+4){
  margin-right:2rem;
}
.nav-item img{
    vertical-align:text-top;
}
.nav-item p{
    margin:0;
    white-space:  nowrap;
    text-align:center;
    line-height: 1.5rem;
}
.nav-item p.en{
  font-size:1.12rem;
}
.nav-item p.zh{
  font-size:0.88rem;
  position:relative;
}
/* .nav-item p.zh:after{
  position: absolute;
  top: 0;
  content: '>';
  transform: rotate(90deg);
  display: block;
} */
#Tel{
    margin-left: 1rem;
}
a#Tel span{
  font-size: 1.63rem;
  font-weight:400;
  color:#525252;
  vertical-align: middle;
  font-family: 'BebasNeue';
  margin-left: 0.3rem;
}
.navbar-light .navbar-nav .active > .nav-link{
  color:#E60012;
}


