#banner-slider .carousel-inner img{
    /* height: 56rem; */
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.carousel-indicators li{
    width:  1rem;
    height:  1rem;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right:  1rem;
    background-color: transparent;
    cursor: pointer;
}
.carousel-control-prev-icon:hover{
     background-color:rgba(0,0,0,0.45);
}
.carousel-control-prev-icon{
    width: 4rem;
    height: 4rem;
    border-radius:50%;
    background-image: url('../img/small/arrow_l.png');
}
.carousel-control-next-icon:hover{
     background-color:rgba(0,0,0,0.45);
}
.carousel-control-next-icon{
    width: 4rem;
    height: 4rem;
    border-radius:50%;
    background-image: url('../img/small/arrow_r.png');
}
.carousel-item{
    max-height: 56rem;
}
.carousel-indicators .active{
    background-color:#C01920;
    border:2px solid #C01920;
}
.carousel-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.intro{
  max-width: 39rem;
  margin: 3rem auto 0;
  /* max-height: 26rem; */
  text-overflow: ellipsis;
  /* overflow: hidden; */
  white-space: normal;
}
.about-us{
  background-color:#f7f7f7;
}
.about-us .img-box{
  max-width: 44.3rem;
  max-height: 35rem;
}
.about-us .img-box img{
  width:100%;
  height: auto;
}
.intro h3{
  color: #C01920;
  line-height:normal;
  font-size: 0.88rem;
  text-indent:2rem;
}
.intro h3.en{
  font-family: 'RobotoSlab-Regular';
}
.intro h3.zh{
  font-family: SourceHanSansCN-Bold;
  margin-top: 1rem;
}
.intro p{
  text-indent:2rem;
  color: #525252;
  line-height: normal;
}
.intro p.zh{
  font-size: 0.88rem;
  font-family: 'SourceHanSansCN-Regular';
}
.intro p.en{
  font-size: 0.88rem;
  font-family: 'RobotoSlab-Regular';
}
.about-us button{
  font-size: 0.88rem;
  margin-bottom:3.12rem;
  /* position: absolute; */
  bottom: 0;
}

/*news  */
.news{
  margin-bottom: 1.94rem;
}
.news button{
  margin-top:0.625rem;
}
.news-img-box .row .col-6{
  margin-bottom:1.25rem;
  padding: 0;
}
.news-img-box .row .col-6:nth-of-type(2n+1){
  padding-right: 1.25rem;
}
.news-img-box .row .col-6 .embed-responsive{
  max-height: 25.6rem;
}
.news-img-box .embed-responsive:hover .news-img-text{
  display: flex;
}
.news-img-box .news-img-text:hover:after{
   display:block; 
}
.news-img-box .news-img-text:after{
  content:'';
  background-color: #C01920;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: none;
  cursor:pointer;
  z-index: -1;
  position: absolute;
}
.news-img-box .news-img-text{
  
position: absolute;
  
display: none;
  
justify-content: center;
  
flex-direction: column;
  
width: 100%;
  
height: 100%;
  
text-align: center;
  
z-index: 6;
  
text-decoration: none;
}
.news-img-box img{
  width: 100%;
  height:auto;
}
.news-img-box .news-img-text p{
  
color: #FFFEFE;
}
.news-img-box .news-img-text p.en{
font-family:'RobotoSlab-Bold';
font-size:1.13rem;
}
.news-img-box .news-img-text p.zh{
  font-family:'SourceHanSansCN-Regular';
  font-size:0.88rem;
}

/*partner*/
.partner{
  background-color: #f7f7f7;
  color:#525252;
}
.partner h3{
  text-indent: 2rem;
  font-size:0.88rem;
  line-height:2rem;
  font-weight:bold;
}
.partner h3.en{
  margin-top: 3.06rem;
}
.partner-img-box{
  max-width: 62.8rem;
  margin: 3.88rem auto;
}
.partner .row{
justify-content: space-between;
margin: 0;
}
.partner .row+.row{
  margin-top:2rem;
}